# Eclipse / IDE
.metadata/
.project
.classpath
.settings/
bin/

# Maven build
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / IntelliJ
.vscode/
.idea/

# Secrets
**/src/main/resources/application-secrets.yml
**/src/main/resources/application-secret.yml
**/src/main/resources/application-secret.yaml
**/src/main/resources/application-secrets.properties

# Java compiled files
*.class