######################################
# IGNORE EVERYTHING
######################################
*

######################################
# ALLOW ONLY THESE
######################################
!src/
!src/**
!pom.xml
!README.md
!.gitignore

######################################
# MAVEN
######################################
target/
.mvn/
mvnw
mvnw.cmd

######################################
# HELP FILE
######################################
HELP.md

######################################
# STS
######################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

######################################
# IntelliJ IDEA
######################################
.idea/
*.iws
*.iml
*.ipr

######################################
# NetBeans
######################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

######################################
# VS Code
######################################
.vscode/


######################################
# OS FILES
######################################
.DS_Store
Thumbs.db

src/main/resources/application-secrets.properties

